<div class="container-fluid">
  <div class="computer-title">
    <h1><%= @computer.brand %> <%= @computer.model %></h1>
    <h2><strong>Owner:</strong> <span class="owner-name"><%= @computer.user.first_name %> <%= @computer.user.last_name %></span>

    <% if @computer.user.photo.attached? %>
      <%= image_tag @computer.user.photo, class: "avatar dropdown-toggle" %>
    <% elsif @computer.user == current_user %>
      <%= image_tag "default-avatar-grey-2.png", class: "avatar dropdown-toggle" %>
    <% else %>
      <%= image_tag "https://kitt.lewagon.com/placeholder/users/random", class: "avatar dropdown-toggle" %>
    <% end %>
    </h2>

  </div>

  <div class="carousel-wrapper">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <% @computer.photos.each_with_index do |photo, i| %>
          <div class="carousel-item <%= i == 0 ? "active" : "" %>">
            <%= cl_image_tag photo.key, class: "carousel-img"  %>
          </div>
        <% end %>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>

  <div class="show-body-wrapper">

  <div class="details-card">
    <ul>
    <h3 class="specs" style="text-align: left">Specs</h3>
      <li class="spec-list"><span class="specs">Year: </span><%= @computer.year %></li class="spec-list">
      <li class="spec-list"><span class="specs">Ideal for: </span><%= @computer.category %></li class="spec-list">
      <li class="spec-list"><span class="specs">Screen size: </span><%= @computer.screen_size %> inches </li class="spec-list">
      <li class="spec-list"><span class="specs">Processor: </span><%= @computer.processor %></li class="spec-list">
      <li class="spec-list"><span class="specs">Ram: </span><%= @computer.ram %></li class="spec-list">
      <li class="spec-list"><span class="specs">Storage: </span><%= @computer.storage %></li class="spec-list">
      <li class="spec-list"><span class="specs">OS: </span><%= @computer.os %></li class="spec-list">
      <p class="spec-list pt-3"><span class="specs">Owner description: </span><%= @computer.description %></p>
      <li class="spec-list pt-3"><h3 class="details-price"><%= @computer.price %>€ / day</h3></li>
    </ul>
  </div>

  <div class="booking-form w-100">
    <h3>Book this laptop</h3>
    <%= simple_form_for [@computer, @booking] do |f| %>
      <h4><%= f.input :start_date, as: :date, start_year: Date.today.year, end_year: Date.today.year + 2 %></h4>
        <br>
      <h4><%= f.input :end_date, label: "Return date", as: :date, start_year: Date.today.year, end_year: Date.today.year + 2, default: Date.tomorrow %></h4>
        <br>
      <div>
        <%= f.submit "Reserve", class: "btn-purple btn-booking-form" %>
      </div>
    <% end %>
  </div>
 </div>

<h4 class="text-center mt-4">Laptop Pickup</h4>

<div class="w-100 mt-3 mb-4">
  <div class="container-map w-100"
    data-controller="map"
    data-map-markers-value="<%= @marker.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
