<div class="container d-flex justify-content-center">
  <div class="edit-booking-form row form-inputs">
    <%# update a new booking  %>
    <h2>Update your booking</h2>
    <br>

    <%= simple_form_for [ @booking] do |f| %>
    <%# <%= f.input :brand %>
    <%= f.input :start_date, label: "New start date", input_html: { data: { input: 'date' } }, start_year: 2024 %>
    <%= f.input :end_date, label: "New return date", input_html: { data: { input: 'date' } }, start_year: 2024 %>
    <%= f.submit class: "btn-purple" %>
      <% end %>
    </div>
  </div>
</div>
